.App {
  text-align: center;
  background-color: #fdfdf9;
  font-family: Montserrat;
}

.App__non-header {
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

.App__non-header p {
  margin: 5px 0;
}

input[type="text"], input[type="number"] {
  font-family: Montserrat;
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.CitySearch__city {
  margin-top: 2rem;
  width: 250px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
}

.CitySearch__suggestions {
  width: 250px;
  align-self: center;
  margin: 0;
  font-size: 14px;
}

.CitySearch__suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.CitySearch__suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


.CitySearch__suggestions > li:hover, .CitySearch__highlight {
  background-color: #BCDCDB !important;
}

.CitySearch__highlight {
  cursor: none;
}

.Event {
  padding: 1.5rem 1.5rem .75rem 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.Event:hover {
  box-shadow: 0 7px 14px rgba(32,62,80,0.25), 0 5px 5px rgba(32,62,80,0.22);
}

.Event__details-button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.Event__button-div {
  margin-top: 1rem;
  display: flex;
}

.Event__name {
  font-size: 18px;
  font-weight: 600;
}

.Event__group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.Event__rsvps, .Event__visibility {
  font-style: italic;
}

.Event__description {
  overflow-x: hidden;
}

.Event__up-arrow, .Event__down-arrow {
  width: 2rem;
}

.NumberOfEvents__input-field {
  width: 3rem;
  margin: .5rem .5rem 1.5rem .5rem;
  text-align: right;
}

@font-face{
  font-family: YellowTail;
  src: url('./fonts/Yellowtail-Regular.ttf');
}

@font-face{
  font-family: Montserrat;
  src: url('./fonts/Montserrat-Medium.ttf');
}

.Header {
  width: 100%;
  background-color: #fdfdf9;
}

.Header__title {
  font-family: YellowTail;
  font-size: 15rem;
  color: #F64060;
}